<div class="grid-100 row controls">
  <div class="grid-30">
    <select ng-model="category"  ng-change="vm.getRecipesByCategory(category)"  ng-options="category.name for category in vm.categories" >
      <option selected value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button ng-click="vm.addRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="grid-100 row" ng-if="vm.recipes.length === 0">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>
<div class="grid-100 row addHover" ng-if="vm.recipes.length > 0" ng-repeat="recipe in vm.recipes">
  <a ng-href="#!/edit/{{recipe._id}}" ng-click="vm.updateRecipe($index)">
    <div class="grid-70">
      <h3>{{recipe.name}}<span ng-if="recipe.category" class="category"> - {{recipe.category}}</span></h3>

      <p>{{recipe.description}}</p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a ng-href="#!/edit/{{recipe._id}}" ng-click="vm.updateRecipe($index)"> <img src="images/edit.svg" height="12px"> Edit </a>
          <a ng-click="vm.openAlertModal(recipe, $index)" class="no-action-link"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>

</div>
<!-- Alert Modal -->
<div class="modal" ng-if="vm.showModel === true">
  <div class="modal-content">
    <div class="modal-body">
      <h3>Do you really want to delete "<strong>{{vm.recipe.name}}</strong>"?</h3>
      <p>This action cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <button class="delete" ng-click="vm.deleteRecipe(vm.recipe, vm.$index)">Delete</button> <button ng-click="vm.closeAlertModal()">Cancel</button>
    </div>
  </div>
</div>

