<head>
	<meta charset="UTF-8">
	<title>Calc</title>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Keania+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="app.component.css">
</head>
<body ng-app="Calculator" ng-cloak>
	
	<div ng-controller="ArthmeticController" class="container">
	
		<div class="display-container">
			<p class="casio">CITIZEN</p>
			<div class="solar">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<span class="model"><i>SLD</i>-200N</span>
			<p class="display">{{ equation }}</p>
		</div>
		
		<div class="input-container">
			<div class="commandNum-container">
				<div class="command-container">
					<button ng-click="command('Off')">OFF</button>
					<button ng-repeat="i in ['%','DEL']" ng-click="command(i)" ng-disabled="isOff">{{ i }}</button>
				</div>
				
				<div class="number-container calc-container">
					<button ng-repeat="i in [7,8,9]" ng-click="updateCurrNum(i)" ng-disabled="isOff">{{ i }}</button></br>
					<button ng-repeat="i in [4,5,6]" ng-click="updateCurrNum(i)" ng-disabled="isOff">{{ i }}</button></br>
					<button ng-repeat="i in [3,2,1]" ng-click="updateCurrNum(i)" ng-disabled="isOff">{{ i }}</button></br>
					<button class="zero" ng-click="updateCurrNum(0)" ng-disabled="isOff">0</button>
					<button ng-click="addDecimal()" ng-disabled="isFloat" ng-disabled="isOff">.</button>
					<button ng-click="calculate()" ng-disabled="isOff">=</button>
				</div>
			</div>
			
			<div class="operator-container calc-container">
				<span ng-repeat="i in ['AC', '+','-','*','/']" ng-disabled="isOff" ng-click="concatOperator(i)">
					<button >{{ i }}</button>
					</br>
				</span>
			</div>	
		</div>			

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="js/main.js"></script>
  <script src="../app/app.component.js"></script>
  
</body>


